{{ define "main" }}

<h2>{{ .Title }}</h2>
{{ .Content }}

<ul class="page-list">
    {{ range (sort .Pages "Date" "desc") }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>,
            {{ if (isset .Params "year") }}
            {{ .Params.year }}
            {{ else }}
            {{ time.Format "2 Jan 2006" .Date }}
            {{ end }}
        </li>
    {{ end }}
</ul>
{{ end }}

{{ define "sidebar" }}
{{ with .Params.side_photo }}
<img src="{{ . }}" alt="">
{{ end }}
{{ end }}