{{ define "main" }}
{{ with .Params.side_photo }}
<img class="top-photo" src="{{ . }}" alt="">
{{ end }}
<h2>{{ .Title }}</h2>
<h3 class="date">{{ .Params.date.Format "2 January 2006" }}</h3>
{{ .Content }}

<ul class="page-list">
    {{ range (sort .Pages "Date" "desc") }}
        <li>
            [{{ .Params.In }}]
            <a href="{{ .Permalink }}">{{ .Title }}</a>,
            {{ if (isset .Params "year") }}
                {{ .Params.year }}
            {{ else }}
                {{ time.Format "2 Jan '06" .Date }}
            {{ end }}
            {{ with .Params.links }}
                <p class="links">
                {{ range . }}
                    <a href="{{ .link }}">[{{ .name }}]</a>
                {{ end }}
                </p>
            {{ end }}
        </li>
    {{ end }}
</ul>

{{ with .Params.links }}
<p class="links">
{{ range . }}
    <a href="{{ .link }}">[{{ .name }}]</a>
{{ end }}
</p>
{{ end }}
{{ end }}

{{ define "sidebar" }}
{{ with .Params.side_photo }}
<img class="side-photo" src="{{ . }}" alt="">
{{ end }}
{{ end }}