<header>
    <div class="nav">
        {{ range .Site.Menus.main }}
        {{ if or (eq .Name $.FirstSection.Name) (and (eq .Name "zac") (eq $.FirstSection.Name "Zac Garby")) }}
        <div class="current">
            <a href="{{ .URL }}" class="current">{{ .Name }}
            {{ if and (not (eq .Name $.Name)) (not (eq .Name "zac")) }}
                *
            {{ end }}
            </a>
        </div>
        {{ else }}
            <div>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </div>
        {{ end }}
        {{ end }}
    </div>
</header>