<header>
    <div class="nav">
        {{ range .Site.Menus.main }}
        {{ if or (eq .Name $.FirstSection.Name) (and (eq .Name "Zac Garby") (eq $.FirstSection.Name "Zac Garby")) }}
        <div class="current">
            <a href="{{ .URL }}" class="current">
            <img src="{{ .Params.Icon }}" class="selected">
            {{ .Name }}
            {{ if and (not (eq .Name $.Name)) (not (eq .Name "Zac Garby")) }}
                *
            {{ end }}
            </a>
        </div>
        {{ else }}
            <div>
                <a href="{{ .URL }}">
                    <img src="{{ .Params.Icon }}" class="unselected">
                    {{ .Name }}
                </a>
            </div>
        {{ end }}
        {{ end }}
    </div>
</header>