* {
    box-sizing: border-box;
    color: rgb(30, 30, 30);
}

body {
    background-color: rgb(240, 235, 234);
    background: rgb(240, 235, 234) repeating-linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.01) 0px,
        rgba(0, 0, 0, 0.01) 30px,
        rgba(255, 255, 255, 0.01) 30px,
        rgba(255, 255, 255, 0.01) 60px
    );
}

div.wrapper {
    font-family: 'Lato', sans-serif;
    width: calc(100vw - 60px);
    max-width: 750px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

header a.title {
    margin-bottom: 10px;
    width: 100%;
    display: block;
}

header div.nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

a, a * {
    color: rgb(222, 70, 115);
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

a {
    text-decoration: underline;
    text-decoration-style: solid;
}

p a:hover, ul.page-list a:hover, * a:hover {
    text-decoration: underline;
    text-decoration-style: double;
    color: rgb(222, 70, 115);
    background-color: rgba(222, 70, 116, 0.174);
}

p a.bare {
    background-color: transparent;
}

div.nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 4px 8px 4px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 550;
    letter-spacing: 1.5px;
}

div.nav a img {
    width: 1.2em;
    height: 1.2em;
}

div.nav a img.unselected {
    filter: saturate(0) opacity(0.5);
}

div.nav div {
    display: block;
    width: calc(50% - 5px);
    padding: 0;
    border: 3px solid rgb(131, 33, 63);
    border-top-width: 1px;
    border-left-width: 1px;
}

div.nav > *:nth-child(1) {
    background-color: rgb(97, 160, 231);
    background: rgb(97, 160, 231) repeating-linear-gradient(
        -60deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 60px
    );
    border-color: rgb(71, 121, 180);
    rotate: -0.4deg;
}

div.nav > *:nth-child(2) {
    background-color: rgb(222, 70, 115);
    background: rgb(222, 70, 115) repeating-linear-gradient(
        50deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 60px
    );
    border-color: rgb(148, 26, 62);
    rotate: 0.4deg;
}

div.nav > *:nth-child(3) {
    background-color: rgb(225, 174, 80);
    background: rgb(225, 174, 80) repeating-linear-gradient(
        -70deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 60px
    );
    border-color: rgb(161, 115, 29);
    rotate: 0.5deg;
}

div.nav > *:nth-child(4) {
    background-color: rgb(221, 107, 175);
    background: rgb(221, 107, 175) repeating-linear-gradient(
        -80deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 60px
    );
    border-color: rgb(164, 46, 117);
    rotate: -0.3deg;
}

div.nav > *:nth-child(1).current {
    outline: 4px solid rgba(0, 119, 255, 0.5);
}

div.nav > *:nth-child(2).current {
    outline: 4px solid rgba(255, 0, 76, 0.5);
}

div.nav > *:nth-child(3).current {
    outline: 4px solid rgba(255, 166, 0, 0.5);
}

div.nav > *:nth-child(4).current {
    outline: 4px solid rgba(255, 0, 153, 0.5);
}

p {
    text-align: justify;
}

p.date {
    margin: 0;
    margin-top: -5px;
    font-style: italic;
}

p.devpost {
    margin: 0;
}

a.devpost {
    font-size: 0.8em;
    margin-left: 5px;
    font-style: italic;
    color: rgb(121, 73, 87);
}

img.email {
    height: 1em;
    margin-left: 5px;
    transform: rotate(3deg) translateY(6.5px);
}

hr {
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
}

article {
    position: relative;
}

article img.fullwidth {
    width: 100%;
}

article h1, article h2, article h3 {
    color: rgb(213, 44, 95);
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    letter-spacing: 1px;
}

article h2 {
    font-size: 1.6em;
    margin-bottom: 0px;
}

article h1, article h3 {
    text-shadow: rgba(160, 31, 70, 0.485) 1px 1px 0px;
}

article h3 {
    font-size: 1.2em;
    margin-bottom: 0;
}

article p {
    margin-top: 5px;
    margin-bottom: 10px;
}

article section p {
    text-indent: 10px;
}

article section p:first-of-type {
    text-indent: 0;
}

article p:first-of-type {
    margin-top: 10px;
}

div.title-images {
    margin-bottom: 40px;
    display: flex;
    min-height: 80px;
    flex-direction: row;
    gap: 7px;
    align-items: center;
}

div.title-images div.spacer {
    width: 10px;
}

div.title-images img {
    height: 80px;
}

header code {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 30px;
}

article.split {
    display: grid;
    grid-template-columns: 55% auto;
    gap: 20px;
}

article.split img, article.split figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.project {
    margin-top: 15px;
    padding: 15px;
    border: 2px solid black;    
}

div.project h2 {
    margin-top: 0;
}

div.project p:last-child {
    margin-bottom: 0;
}

.right {
    float: right;
    margin-left: 15px;
}

.left {
    float: left;
    margin-right: 15px;
}

.left, .right {
    max-width: calc(100% - 30px);
}

li.hackathon {
    line-height: 1.5em;
}

span.prize {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    letter-spacing: 0.5px;
    font-size: 70%;
    background-color: rgba(247, 247, 142, 0.438);
    border: 2px solid rgb(126, 15, 0);
    border-left-width: 1px;
    border-top-width: 1px;
    color: rgb(126, 15, 0);
    padding: 3px 5px;
    vertical-align: 1px;
    text-shadow: none;
}

span.prize::before {
    content: "★ ";
}

iframe {
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 540px) {
    .left, .right {
        float: none;
        width: calc(100% - 30px);
    }
}

a.image-link {
    display: block;
}

ul.page-list {
    padding-left: 25px;
}

ul.page-list li {
    padding: 5px 0;
}

ul.page-list span.hackathon {
    font-style: italic;
}

article.split a img.badge {
    margin-top: 5px;
}

ul.page-list p.links {
    margin-top: 0;
}

p.links a {
    font-size: 0.8em;
    font-family: "Source Code Pro", monospace;
}

div.previews {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
}

article section {
    padding: 10px 0;
}

article section.box {
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(222, 70, 115);
    background: rgb(222, 70, 115) repeating-linear-gradient(
        -60deg,
        rgba(0, 0, 0, 0.03) 0px,
        rgba(0, 0, 0, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 30px,
        rgba(255, 255, 255, 0.03) 60px
    );
    border: 5px solid rgb(131, 33, 63);
    border-top-width: 1px;
    border-left-width: 1px;
}

article section.box * {
    color: rgb(251, 241, 245);
}

article section.box h2 {
    text-shadow: rgb(0, 0, 0) 1px 1px 0px;
}

article section *:first-child {
    margin-top: 0;
}

article section *:last-child {
    margin-bottom: 0;
}

article pre {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    max-width: 100%;
    overflow-x: auto;
    padding: 5px;
    border: 5px solid rgb(211, 185, 185);
    border-top-width: 1px;
    border-left-width: 1px;
    background-color: rgb(247, 244, 236);
    background: rgb(247, 244, 236) repeating-linear-gradient(
        -20deg,
        rgba(0, 0, 0, 0.01) 0px,
        rgba(0, 0, 0, 0.01) 30px,
        rgba(255, 255, 255, 0.01) 30px,
        rgba(255, 255, 255, 0.01) 60px
    );
}

article code {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-size: 0.85em;
}

article.split img.top-photo {
    display: none;
}

article.split img.side-photo {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
}

h3.date {
    color: rgb(138, 86, 86);
    margin: 0;
}

strong, b {
    font-family: "Fredoka", sans-serif;
    font-weight: 460;
}