{{ define "main" }}
<section>
    <p>
        Hello! I'm Zac, a <a href="http://www.cs.nott.ac.uk/~psyzg5/">PhD student</a> in the <a href="https://www.nottingham.ac.uk/research/groups/fp-lab/">FP lab</a> at the <a href="https://www.nottingham.ac.uk">The University of Nottingham</a>, under the supervision of <a href="http://www.cs.nott.ac.uk/~pszgmh/">Graham Hutton</a>.
    </p>
    <p>
        I'm really interested in programming languages (mostly <a href="https://www.haskell.org">functional</a> <a href="https://github.com/zac-garby/diss/tree/master/fugue">ones</a>) and how they can be made easier to use (e.g. interactive programming, clever type systems), plus things like program synthesis, holes, and anything else to do with incomplete programs. For my 4th year dissertation, I came up with some novel techniques for synthesising recursive functions (have a look at <a href="/files/paper.pdf">my paper</a> - it should be readable without any background in the area!) and implemented them in my toy programming language, <a href="https://github.com/zac-garby/diss/tree/master/fugue">Fugue</a>.
    </p>
    <p>
        Another great interest of mine, and in fact where my research is mostly focusing at the moment, is compiler calculation. This is where we can write a specification for some programming language as a high-level semantics (e.g. a tree-walking evaluator) and <i>derive</i> a compiler and a virtual machine for that language. My latest (and first) paper in this area, a functional pearl titled <a href="/posts/calculating-compilers-effectively/">Calculating Compilers Effectively</a>, has been accepted for publication in the <em>Haskell Symposium</em>, 2024.
    </p>
    <p>
        Outside of my research, my interests include climbing, reading (mostly sci-fi and fantasy), and being slightly obsessive about coffee. I also have an assortment of various programming projects which I work on from time to time. Also, I'm a big <a href="/hackathons">hackathon</a> enjoyer, when they're in season.
    </p>
</section>

<section class="box">
    <h2>Publications & Blog</h2>
    <ul>
        {{ range where .Site.Pages "Type" "in" "posts" }}
        {{ if (isset .Params "in") }}
        <li>
            [{{ .Params.In }}, {{ if (isset .Params "year") }}
            {{ .Params.year }}]
        {{ else }}
            {{ time.Format "Jan 2006" .Date }}]
        {{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</section>

<section>
    <h2>Projects and Websites and Things</h2>
    <p>
        Most of my old projects are completely unfinished, but feel free to have a look around my <a href="https://github.com/zac-garby">GitHub</a> page nevertheless. Amongst the 150-or-so cobweb-encrusted repositories there, there are some pretty cool things!
    </p>
    <p>
        In practice, hackathons are pretty much the only time I actually get round to finishing projects... Saying that, here are some other projects which I <i>have</i> actually finished, or at least gotten sick of and called them done.
    </p>
    <ul>
        <li>
            <a href="https://github.com/zac-garby/diss"><i>Fantasia &amp; Fugue</i></a>. Two little projects actually. <i>Fugue</i> is a functional programming language I made for my third year dissertation, with a novel type system supporting holes (i.e. incomplete programs). <i>Fantasia</i> is an example-directed program synthesis engine built on top of it, with some clever little tricks to synthesise recursive programs. <i>(Haskell)</i>
        </li>
        <li>
            <a href="https://zacgarby.itch.io/infiltrate"><i>Infiltrate</i></a>, a fun little game I made for a module at university. I think the brief was to make a game "with five levels". In <i>Infiltrate</i>, you are playing as a spy breaking into an evil pharmaceutical lab, but each "level", you have to avoid detection by the spies you played on the previous levels. <i>(Java, LibGDX)</i>
        </li>
        <li>
            <a href="https://github.com/zac-garby/fm"><i>cancrizans</i></a>, an FM (frequency modulation) synthesiser and sequencer, written in Rust. Mostly complete? I mean it's usable, at least. Comes with a few effects, and customisable instruments. <i>(Rust)</i>
        </li>
        <li>
            <a href="https://github.com/zac-garby/computer">An 8-bit CPU</a> designed at the logic-gate level. I never built it, but I'd love to at some point.
        </li>
    </ul>
    <p>
        Also, I've made some websites over the years which may be useful and/or fun and/or interesting to some people! Please do let me know if any of these links are dead; they shouldn't be.
    </p>
    <ul>
        <li>
            <a href="https://whisperingcameraphone.com">https://whisperingcameraphone.com</a> &mdash; Whispering Cameraphone, a web-based party game for <em>n</em> players. Exchange photo prompts and then go out and take some cool pictures. <i>(Python, Web stuff)</i>
        </li>
        <li>
            <a href="https://magicalinternetpoints.com">https://magicalinternetpoints.com/</a> &mdash; Gain magical internet points by doing stuff on the web! This is where the cool badge under the photo on this page comes from. <i>(Go, Web stuff)</i>
        </li>
        <li>
            <a href="http://tab.gar.by">http://tab.gar.by</a> &mdash; A minimalistic, nice-to-use web-based guitar tab viewer. Paste plain-text tabs in, and view them in a significantly more readable (and wide-screen-friendly) way.
        </li>
        <li>
            <a href="https://gar.by">https://gar.by</a> &mdash; Honestly, just a cool domain name. In theory, lists the websites of everybody in my family. As it happens, only two of us have websites.
        </li>
    </ul>
    <p>
        I've also made some websites for other people/societies.
    </p>
    <ul>
        <li><a href="https://hacksocnotts.co.uk">https://hacksocnotts.co.uk</a>, the page for HackSoc, the hacking (as in hackathons), "recreational" programming, and computer science society at the University of Nottingham. (I used to be the president.) It's no longer maintained by me, though.</li>
        <li><a href="https://nottsmun.uk/">https://nottsmun.uk</a>, the page for NOTTSMUN, the University of Nottingham's model united nations conference.</li>
    </ul>
</section>
<section class="box">
    <h2>Talks and Workshops</h2>
    <p>
        I really enjoy talking to people about stuff, and also giving workshops and teaching people about things. Here's a list of some of these. Unfortunately most weren't filmed, but some were!
    </p>
    <ul>
        <li>
            <em>26 Oct '24</em> Haskell Diagrams workshop at HackNotts (see <a href="/files/diagrams-resources.pdf">resources</a>)
        </li>
        <li>
            <em>7 Sep '24</em> <a href="https://www.youtube.com/watch?v=wJ6GtZHK1Sw">Calculating Compilers Effectively @ ICFP</a>
        </li>
        <li>
            <em>29 Feb '24</em> <a href="https://www.youtube.com/watch?v=puwhf-404Xc">Computerphile: L-systems video</a>
        </li>
        <li>
            <em>2 Nov '23</em> <a href="https://hacksocnotts.co.uk/events/2023-11-02-the-making-of-a-programming-language/">Talk: "The Making of a Programming Language"</a>
        </li>
        <li>
            <em>20 Oct '23</em> <a href="https://fplunchnott.wordpress.com/2023/10/20/fantasia-and-fugue-synthesising-recursive-functions/">FP Lunch talk: "Fantasia and Fugue: Synthesising recursive functions</a>
        </li>
        <li>
            <em>17 Nov '22</em> <a href="https://hacksocnotts.co.uk/events/2022-11-17-game-development-workshop-ii-shaders/">Game development workshop II: Shaders</a>
        </li>
        <li>
            <em>10 Nov '22</em> <a href="https://hacksocnotts.co.uk/events/2022-11-10-game-development-workshop/">Game development workshop</a>
        </li>
        <li>
            <em>27 Sep '22</em> <a href="https://hacksocnotts.co.uk/events/2022-09-27-hacksoc-taster-welcome-week-talks/">HackSoc welcome week talk</a>
        </li>
        <li>
            <em>28 Mar '23</em> <a href="https://www.youtube.com/watch?v=ZKSY8DfiFs8&t=537s">Lightining talk: "The Future of Programming"</a>
        </li>
        <li>
            <em>1 Mar '22</em> <a href="https://hacksocnotts.co.uk/events/2022-03-01-python-internals-talk/">Python internals talk</a>
        </li>
        <li>
            <em>24 Feb '22</em> <a href="https://hacksocnotts.co.uk/events/2022-02-24-unity-workshop/">Unity game-dev workshop</a>
        </li>
        <li>
            <em>14 Dec '21</em> <a href="https://hacksocnotts.co.uk/events/2021-12-14-blog-workshop/">Making a blog and getting it online!</a>
        </li>
        <li>
            <em>16 Nov '21</em> <a href="https://hacksocnotts.co.uk/events/2021-go-workshop/">Introduction to Golang</a>
        </li>
        <li>
            <em>12 Oct '21</em> <a href="https://hacksocnotts.co.uk/events/2021-discord-bot-workshop/">Discord bots workshop</a>
        </li>
        <li>
            <em>23 Sep '21</em> <a href="https://hacksocnotts.co.uk/events/2021-welcome-week-ju/">HackSoc welcome week talk</a>
        </li>
    </ul>
    <p>
        Also, I have a <a href="https://www.youtube.com/@zacmg">YouTube channel with some extra videos and little demos of projects.</a>
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/puwhf-404Xc?si=lsLZCvJQify1IVUw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</section>
{{ end }}

{{ define "sidebar" }}
<img src="/images/spoooky-me.jpeg" alt="" title="A spooky photo of the Haskell Wizard.">
<section class="box">
    <h2>Contact Me</h2>
    <p>
        If you want to contact me, the best way is probably through Discord, where I'm <code>zacmg</code>. Or, you can email me at <code>me &lt;at&gt; this domain . co . uk</code>.
    </p>
</section>
<section>
    <a href="https://magicalinternetpoints.com/"></a>
        <img src="https://magicalinternetpoints.com/badge/zac" class="badge" />
    </a>
</section>
<section>
    <h2>Hackathons</h2>
    <p>
        I go to a <i>lot</i> of hackathons. It's a great joy of mine, and I've written up all of the <a href="/hackathons">hackathon projects I've done over the years here</a>. Here are some of my favourites:
    </p>
    <div class="previews">
        <a href="/hackathons/lunatic-lander/">
            Lunatic Lander
            <img class="small-preview" src="/images/hackathons/lunar2.jpg">
        </a>
        <a href="/hackathons/jailbreak/">
            Jailbreak
            <img class="small-preview" src="/images/hackathons/jailbreak1.jpg">
        </a>
        <a href="/hackathons/knuckles/">
            Knuckles
            <img class="small-preview" src="/images/hackathons/knuckles1.jpg">
        </a>
        <a href="/hackathons/haskelltron/">
            Haskelltron 2000
            <img class="small-preview" src="/images/hackathons/haskelltron2.jpg">
        </a>
    </div>
    <p>
        I'm also a volunteer at <a href="https://www.hackathons.org.uk">Hackathons UK</a>, and I used to be the lead organiser of <a href="https://hacknotts.com">HackNotts</a>.
    </p>
</section>
<section class="box">
    <h2>Mixed Reality</h2>
    <p>
        Something which I enjoy a lot and really want to do more of is "mixed reality". In particular, I mean projects which combine physical objects with actuators and (hopefully hidden) sensors, with software, to give some kind of experience. As a piece of art, really.
    </p>
    <p>
        I've done some things like this <a href="/hackathons/scribble-scraps/">at</a> <a href="/hackathons/musicboard/">various</a> <a href="/hackathons/cosmic-music/">hackathons</a>, but probably the most elaborate was an art installation about a children's book called <i>The Singing Mermaid</i>, by Julia Donaldson.
    </p>
    <div class="previews">
        <a href="/images/mermaid/1.jpeg">
            <img src="/images/mermaid/1.jpeg">
        </a>
        <a href="/images/mermaid/2.jpeg">
            <img src="/images/mermaid/2.jpeg">
        </a>
    </div>
    <iframe src="https://www.youtube.com/embed/FfUE7Gtn3QI?si=uT4fOA8sXKxCqDsY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    <p>
        Back in 2019, when I finished my A-levels, me and a few of my friends were asked by the school to make some type of interactive exhibit for kids. This was for an event put on by the local community in Dorchester called <i>Moonbury Rings</i>, to celebrate the 50th anniversary of the Apollo moon landing.
    </p>
    <p>
        We got some old cardboard boxes and filled them with computers, and so put together some retro arcade machines (home-made games, too, of course!). The link to the moon landings? I mean, one of the games was asteroids, at least...?
    </p>
    <div class="previews">
        <a href="/images/moonbury/1.jpg">
            <img src="/images/moonbury/1.jpg">
        </a>
        <a href="/images/moonbury/3.jpg">
            <img src="/images/moonbury/3.jpg">
        </a>
        <a href="/images/moonbury/4.jpg">
            <img src="/images/moonbury/4.jpg">
        </a>
        <a href="/images/moonbury/2.jpg">
            <img src="/images/moonbury/2.jpg">
        </a>
    </div>
</section>
<section>
    <h2>Other Stuff</h2>
    <p>
        There's a lot of stuff on this website, but most of it can be found through the links at the top. Mostly, it's here to be a bit of a portfolio and a bit of a space for me to dump links in and send to people. There are also some things in the works (like a blog), but we'll see how those go.
    </p>
</section>
{{ end }}
