{{ define "main" }}
<section>
    <h2>About Me</h2>
    <p>
        Hi! I'm Zac, a <a href="http://www.cs.nott.ac.uk/~psyzg5/">PhD student</a> in the <a href="https://www.nottingham.ac.uk/research/groups/fp-lab/">FP lab</a> at the <a href="https://www.nottingham.ac.uk">The University of Nottingham</a>, under the supervision of <a href="http://www.cs.nott.ac.uk/~pszgmh/">Graham Hutton</a>.
    </p>
    <p>
        I'm really interested in programming languages (mostly <a href="https://www.haskell.org">functional</a> <a href="https://github.com/zac-garby/diss/tree/master/fugue">ones</a>) and how they can be made easier to use (e.g. interactive programming, clever type systems), plus things like program synthesis, holes, and anything else to do with incomplete programs. For my 4th year dissertation, I came up with some novel techniques for synthesising recursive functions (have a look at <a href="/files/paper.pdf">my paper</a> - it should be readable without any background in the area!) and implemented them in my toy programming language, <a href="https://github.com/zac-garby/diss/tree/master/fugue">Fugue</a>.
    </p>
    <p>
        Another great interest of mine, and in fact where my research is mostly focusing at the moment, is compiler calculation. This is where we can write a specification for some programming language as a high-level semantics (e.g. a tree-walking evaluator) and <i>derive</i> a compiler and a virtual machine for that language. My latest (and first) paper in this area, a functional pearl titled <a href="/posts/calculating-compilers-effectively/">Calculating Compilers Effectively</a>, has been accepted for publication in the <em>Haskell Symposium</em>, 2024.
    </p>
    <p>
        Outside of my research, my interests include climbing, reading (mostly sci-fi and fantasy), and being slightly obsessive about coffee. I also have an assortment of various programming projects which I work on from time to time. Also, I'm a big <a href="/hackathons">hackathon</a> enjoyer, when they're in season.
    </p>
</section>

<section>
    <h2>Projects and Websites and Things</h2>
    <p>
        Most of my old projects are completely unfinished, but feel free to have a look around my <a href="https://github.com/zac-garby">GitHub</a> page nevertheless. Amongst the 150-or-so cobweb-encrusted repositories there, there are some pretty cool things!
    </p>
    <p>
        In practice, hackathons are pretty much the only time I actually get round to finishing projects... Saying that, here are some other projects which I <i>have</i> actually finished, or at least gotten sick of and called them done.
    </p>
    <ul>
        <li>
            <a href="https://github.com/zac-garby/diss"><i>Fantasia &amp; Fugue</i></a>. Two little projects actually. <i>Fugue</i> is a functional programming language I made for my third year dissertation, with a novel type system supporting holes (i.e. incomplete programs). <i>Fantasia</i> is an example-directed program synthesis engine built on top of it, with some clever little tricks to synthesise recursive programs. <i>(Haskell)</i>
        </li>
        <li>
            <a href="https://zacgarby.itch.io/infiltrate"><i>Infiltrate</i></a>, a fun little game I made for a module at university. I think the brief was to make a game "with five levels". In <i>Infiltrate</i>, you are playing as a spy breaking into an evil pharmaceutical lab, but each "level", you have to avoid detection by the spies you played on the previous levels. <i>(Java, LibGDX)</i>
        </li>
        <li>
            <a href="https://github.com/zac-garby/fm"><i>cancrizans</i></a>, an FM (frequency modulation) synthesiser and sequencer, written in Rust. Mostly complete? I mean it's usable, at least. Comes with a few effects, and customisable instruments. <i>(Rust)</i>
        </li>
        <li>
            <a href="https://github.com/zac-garby/computer">An 8-bit CPU</a> designed at the logic-gate level. I never built it, but I'd love to at some point.
        </li>
    </ul>
    <p>
        Also, I've made some websites over the years which may be useful and/or fun and/or interesting to some people! Please do let me know if any of these links are dead; they shouldn't be.
    </p>
    <ul>
        <li>
            <a href="https://gar.by">https://gar.by</a> &mdash; Honestly, just a cool domain name. In theory, lists the websites of everybody in my family. As it happens, only two of us have websites.
        </li>
        <li>
            <a href="https://whisperingcameraphone.com">https://whisperingcameraphone.com</a> &mdash; Whispering Cameraphone, a web-based party game for <em>n</em> players. Exchange photo prompts and then go out and take some cool pictures. <i>(Python, Web stuff)</i>
        </li>
        <li>
            <a href="https://magicalinternetpoints.com">https://magicalinternetpoints.com/</a> &mdash; Gain magical internet points by doing stuff on the web! This is where the cool badge under the photo on this page comes from. <i>(Go, Web stuff)</i>
        </li>
        <li>
            <a href="http://tab.gar.by">http://tab.gar.by</a> &mdash; A minimalistic, nice-to-use web-based guitar tab viewer. Paste plain-text tabs in, and view them in a significantly more readable (and wide-screen-friendly) way.
        </li>
    </ul>
    <p>
        I've also made some websites for other people/societies.
    </p>
    <ul>
        <li><a href="https://hacksocnotts.co.uk">https://hacksocnotts.co.uk</a>, the page for HackSoc, the hacking (as in hackathons), "recreational" programming, and computer science society at the University of Nottingham. (I used to be the president.) It's no longer maintained by me, though.</li>
        <li><a href="https://nottsmun.uk/">https://nottsmun.uk</a>, the page for NOTTSMUN, the University of Nottingham's model united nations conference.</li>
    </ul>
    <p>
        I've also appeared on <a href="https://www.youtube.com/@Computerphile">Computerphile</a>! My video is about <a href="https://en.wikipedia.org/wiki/L-system">L-systems</a>, and you can watch it <a href="https://www.youtube.com/watch?v=puwhf-404Xc&t=583s">here!</a>
    </p>
</section>
{{ end }}

{{ define "sidebar" }}
<img src="/images/me.jpeg" alt="" title="A blurry photo of me bouldering in a quarry in Portland, Dorset. September 2023">
<a href="https://magicalinternetpoints.com/">
    <img src="https://magicalinternetpoints.com/badge/zac" class="badge" />
</a>
<section>
    <h2>Contact Me</h2>
    <p>
        If you want to contact me, the best way is probably through Discord, where I'm <code>zacmg</code>. Or, you can email me at <code>me &lt;at&gt; this domain . co . uk</code>.
    </p>
</section>
<section>
    <h2>Hackathons</h2>
    <p>
        I go to a <i>lot</i> of hackathons. It's a great joy of mine, and I've written up all of the <a href="/hackathons">hackathon projects I've done over the years here</a>. Here are some of my favourites:
    </p>
    <div class="previews">
        <a href="/hackathons/lunatic-lander/">
            Lunatic Lander
            <img class="small-preview" src="/images/hackathons/lunar2.jpg">
        </a>
        <a href="/hackathons/jailbreak/">
            Jailbreak
            <img class="small-preview" src="/images/hackathons/jailbreak1.jpg">
        </a>
        <a href="/hackathons/knuckles/">
            Knuckles
            <img class="small-preview" src="/images/hackathons/knuckles1.jpg">
        </a>
        <a href="/hackathons/haskelltron/">
            Haskelltron 2000
            <img class="small-preview" src="/images/hackathons/haskelltron2.jpg">
        </a>
    </div>
</section>
<section>
    <h2>Other Stuff</h2>
    <p>
        There's a lot of stuff on this website, but most of it can be found through the links at the top. Mostly, it's here to be a bit of a portfolio and a bit of a space for me to dump links in and send to people. There are also some things in the works (like a blog), but we'll see how those go.
    </p>
</section>
{{ end }}