{{ define "main" }}
<section>
    <p>
        Hi! I'm Zac Garby, a <a href="http://www.cs.nott.ac.uk/~psyzg5/">PhD student</a> in the <a href="https://www.nottingham.ac.uk/research/groups/fp-lab/">FP lab</a> at the <a href="https://www.nottingham.ac.uk">The University of Nottingham</a>, under the supervision of <a href="http://www.cs.nott.ac.uk/~pszgmh/">Graham Hutton</a>.
    </p>
    <p>
        I'm really interested in programming languages (mostly <a href="https://www.haskell.org">functional</a> <a href="https://github.com/zac-garby/diss/tree/master/fugue">ones</a>) and how they can be made easier to use (e.g. interactive programming, clever type systems), plus things like program synthesis, holes, and anything else to do with incomplete programs. For my 4th year dissertation, I came up with some novel techniques for synthesising recursive functions (have a look at <a href="/files/paper.pdf">my paper</a> - it should be readable without any background in the area!) and implemented them in my toy programming language, <a href="https://github.com/zac-garby/diss/tree/master/fugue">Fugue</a>.
    </p>
    
    <p>
        Most of my old projects are completely unfinished, but feel free to have a look around my <a href="https://github.com/zac-garby">GitHub</a> page nevertheless. There's some cool stuff there! Also, I've written up all of the <a href="/hackathons">hackathon projects</a> I've done over the years.
    </p>
</section>

<section>
    <h2>Web Stuff</h2>
    <p>
        I've made some websites over the years which may be useful and/or fun and/or interesting to some people! Please do let me know if any of these links are dead; they shouldn't be.
    </p>
    <ul>
        <li><a href="https://gar.by">https://gar.by</a> &mdash; Honestly, just a cool domain name.</li>
        <li><a href="https://bcp.gar.by">https://bcp.gar.by</a> &mdash; Broken Cameraphone, a web-based party game for <em>n</em> players. Exchange photo prompts and then go out and take some cool pictures.</li>
        <li><a href="https://magicalinternetpoints.com">https://magicalinternetpoints.com/</a> &mdash; Gain magical internet points by doing stuff on the web!</li>
        <li><a href="http://tab.gar.by">http://tab.gar.by</a> &mdash; A minimalistic, nice-to-use web-based guitar tab viewer.</li>
        <li><a href="https://scribble-scraps.frost.cx">https://scribble-scraps.frost.cx</a> &mdash; Scribble Scraps, a <a href="/hackathons/scribble-scraps/">hackathon project</a> I helped create.</li>
    </ul>
    <p>
        I've also made some websites for other people/societies:
    </p>
    <ul>
        <li><a href="https://hacksocnotts.co.uk">https://hacksocnotts.co.uk</a></li>
        <li><a href="https://nottsmun.uk/">https://nottsmun.uk</a></li>
    </ul>
    <p>
        Ironically, I don't actually like web development. I just happen to end up doing quite a lot of it.
    </p>
</section>

<section>
    <h2>Contact Me</h2>
    <p>
        If you want to contact me, the best way is probably through Discord, where I'm <code>zacmg</code>. Or, you can email me at <code>me &lt;at&gt; this domain . co . uk</code>.
    </p>
</section>
{{ end }}

{{ define "sidebar" }}
<img src="/images/me.jpeg" alt="" title="A blurry photo of me bouldering in a quarry in Portland, Dorset. September 2023">
<a href="https://magicalinternetpoints.com/">
    <img src="https://magicalinternetpoints.com/badge/zac" class="badge" />
</a>
{{ end }}