@media screen and (max-width: 540px) {

div.wrapper {
    margin-top: 50px;
}

a.title {
    flex-direction: column;
    justify-items: right;
    gap: 20px;
}

div.title-images img {
    height: 60px;
}

div.title-images {
    flex-wrap: wrap;
}

}