{{ define "main" }}

<h2>{{ .Title }}</h2>
<p>
    {{ .Content }}
</p>

<ul class="page-list">
    {{ range (sort .Pages "Date" "desc") }}
        <li class="hackathon {{ if .Params.prize }} winner {{ end }}">
            <a class="hackathon" href="{{ .Permalink }}">{{ .Title }}</a>
            {{ with .Params.devpost }}
            <a class="devpost" href="{{ . }}">(Devpost)</a>
            {{ end }}
            {{ with .Params.prize }}
                <br>
                <span class="prize">{{ . }}</span>
            {{ end }}
            {{ $date := .Params.date.Format "2 Jan '06" }}
            {{ with .Params.hackathon }}
            <br>
            <span class="hackathon">@ {{ . }} &mdash; {{ $date }}</span>
            {{ end }}
        </li>
    {{ end }}
</ul>
{{ end }}

{{ define "sidebar" }}
{{ with .Params.side_photo }}
<img src="{{ . }}" alt="">
{{ end }}
{{ end }}