{{ define "main" }}

<h2>{{ .Title }}</h2>
{{ .Content }}

<ul class="page-list">
    {{ range (sort .Pages "Date" "desc") }}
        <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ $date := .Params.date.Format "2 Jan '06" }}
            {{ with .Params.hackathon }}
            <br>
            <span class="hackathon">@ {{ . }} &mdash; {{ $date }}</span>
            {{ end }}
            {{ with .Params.prize }}
                <span class="prize">{{ . }}</span>
            {{ end }}
        </li>
    {{ end }}
</ul>
{{ end }}

{{ define "sidebar" }}
{{ with .Params.side_photo }}
<img src="{{ . }}" alt="">
{{ end }}
{{ end }}